{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>DnD 5e Spell Search</h1>
  <p class="lead">Select a spell</p>
</div>
<div class="form-group">
  <ul class="list-unstyled row">
  {% for d in data %}
    <form action="/details" method="POST">
      <li class="col-sm-6">
        <input type="hidden" name="URL" value="{{ d.url }}"></input>
        <button class="btn btn-link" type="submit" value="submit">{{ d.name }}</button>
      </li>
    </form>
  {% endfor %}  
  </ul>
</div>
{% endblock %}